<div class="container">
  <div class="inner">
    <div class="ng-comm">
        <div class="product-filter-box">
          <input [(ngModel)]="searchText"  (keyup.enter)="onSearch()" placeholder="Search products..." />
          <button (click)="onSearch()">Search</button>

          <select [(ngModel)]="selectedSort" (ngModelChange)="onSortChange($event)">
            <option value="">Sort By</option>
            <option value="price_asc">Price: Low → High</option>
            <option value="price_desc">Price: High → Low</option>
            <option value="title_asc">Title: A → Z</option>
          </select>
        </div>

        

        <app-product-card 
          [products]="products" 
          [loading]="loading">
        </app-product-card>

        <div className="pagination">
          <app-pagination  
            [total]="total"
            [limit]="limit"
            [currentPage]="currentPage"
            (pageChange)="onPageChange($event)">
          </app-pagination>
        </div>
        
    </div>
  </div>
</div>