<div class="container">
  <div class="inner">
    <div class="ng-comm">
        <div class="product-filter-box">
          <input [(ngModel)]="searchText"  placeholder="Search products..." />
          <button (click)="onSearch()">Search</button>
        </div>

        <app-product-card 
          [products]="products" 
          [loading]="loading">
        </app-product-card>

        <div className="pagination">
          <app-pagination  
            [total]="total"
            [limit]="limit"
            [currentPage]="currentPage"
            (pageChange)="onPageChange($event)">
          </app-pagination>
        </div>
        
    </div>
  </div>
</div>