<div class="container">
  <div class="inner">
    <div class="add-product-opt">
      <div class="add-text">
        <h3>Add Product</h3>
        <p>Manage your product inventory</p>
      </div>
      <div class="add-btn">
        <button [routerLink]="['/product/add']">Add Product</button>
      </div>
    </div>
    <div class="ng-comm">
        <div class="product-filter-box">
          <input [(ngModel)]="searchText"  (keyup.enter)="onSearch()" placeholder="Search products..." />
          <button (click)="onSearch()">Search</button>

          <select [(ngModel)]="selectedSort" (ngModelChange)="onSortChange($event)">
            <option value="">Sort By</option>
            <option value="price_asc">Price: Low → High</option>
            <option value="price_desc">Price: High → Low</option>
            <option value="title_asc">Title: A → Z</option>
          </select>

          <select [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange($event)">
            <option value="">All Categories</option>
            <option *ngFor="let cat of categories" [value]="cat">
              {{ cat }}
            </option>
          </select>
        </div>

        

        <app-product-card 
          [products]="products" 
          [loading]="loading">
        </app-product-card>

        <div className="pagination">
          <app-pagination  
            [total]="total"
            [limit]="limit"
            [currentPage]="currentPage"
            (pageChange)="onPageChange($event)">
          </app-pagination>
        </div>
        
    </div>
  </div>
</div>